<ion-content>
  <ion-grid fixed>
    <ion-row class="mt-5 px-3">
      <ion-col size="12">
        <ion-card-title style="font-weight: 900;"><strong>Ionic Capacitor Template</strong></ion-card-title>
        <ion-card-subtitle style="color: black;">For Angular Projects</ion-card-subtitle>
        <ion-card-subtitle style="color: black;">v1.0.0</ion-card-subtitle>
      </ion-col>
    </ion-row>

    <ion-card class="project-details">
      <ion-card-header class="ion-no-padding">
        <!-- <ion-card-subtitle style="font-size: 14px; color: black;"><b>Detalles del Template</b></ion-card-subtitle> -->
        <ion-item>
          <ion-icon name="information-circle-sharp" color="primary" slot="start"></ion-icon>
          <ion-label><b>Detalles del Template</b></ion-label>
          <hr>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        <!-- Awesome content -->


        <ul style="color: black;" class="mt-3">
          <li>
            <b>Descripción Breve</b>
            <p>Este template es un punto de partida para proyectos de Angular con Ionic y Capacitor. Incluye una
              estructura de carpetas y archivos básicos para comenzar a desarrollar.</p>
          </li>

          <li class="mt-3">
            <b>Características Principales</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Tecnologías Modernas</b></h2>
                <p>Desarrollado con Angular 18 para aprovechar las últimas capacidades de este framework.</p>
                <p>Basado en Ionic Framework 8, ofreciendo un diseño moderno y adaptable.</p>
              </ion-label>
            </ion-item>

            <!-- Soporte Multiplataforma -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://miro.medium.com/v2/resize:fit:512/1*JLtAxMK7mqyvpQZ4ikH-Iw.png"
                  alt="Capacitor Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Soporte Multiplataforma</b></h2>
                <p>Compatible con Android e iOS gracias a Capacitor 7.</p>
                <p>Soporte para desarrollo en navegadores con capacidades PWA.</p>
              </ion-label>
            </ion-item>

            <!-- Plugins Capacitor Integrados -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://static-00.iconduck.com/assets.00/plugin-icon-2048x1842-cbtea5sq.png"
                  alt="Capacitor Plugins Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Plugins Capacitor Integrados</b></h2>

                <ul>
                  <li>
                    <p>&#64;<b>capacitor/preferences</b>: Almacenamiento seguro de datos.</p>
                  </li>

                  <li>
                    <p>&#64;<b>capacitor/network</b>: Detección del estado de la red.</p>

                  </li>

                  <li>
                    <p><b>&#64;capacitor/status-bar </b> y <b>&#64;capacitor/haptics</b>: Mejoras en la experiencia del
                      usuario.</p>

                  </li>

                  <li>
                    <p><b>&#64;capacitor-community/admob:</b> Integración con anuncios publicitarios de AdMob.</p>

                  </li>

                  <li>
                    <p><b>&#64;capacitor/browser:</b> Navegación integrada desde la app.</p>

                  </li>


                </ul>

              </ion-label>
            </ion-item>

            <!-- Integraciones Avanzadas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-logomark.png"
                  alt="Firebase Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Integraciones Avanzadas</b></h2>
                <p><b>Firebase:</b> Soporte completo para autenticación, base de datos y almacenamiento.</p>
                <p><b>CryptoJS:</b> Encriptación de datos para mayor seguridad.</p>
              </ion-label>
            </ion-item>

            <!-- Optimización y Animaciones -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.drupal.org/files/project-images/logo_106.png" alt="Swiper Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Optimización y Animaciones</b></h2>
                <p><b>animation.css:</b> Estilo y animaciones predefinidas para mejorar la interfaz de usuario.</p>
                <p><b>Swiper: </b>Componente de carrusel dinámico y personalizable.</p>
              </ion-label>
            </ion-item>

            <!-- Calidad del Código -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/ESLint_logo.svg" alt="ESLint Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Calidad del Código</b></h2>
                <p>Configuración con ESLint y Prettier para mantener un código limpio y estructurado.</p>
                <p>Soporte de pruebas unitarias con Karma y Jasmine.</p>
              </ion-label>
            </ion-item>

            <!-- Desempeño y Rendimiento -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="RxJS Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Desempeño y Rendimiento</b></h2>
                <p>Uso de lazy loading para una carga más eficiente de los módulos.</p>
                <p>RxJS para una programación reactiva y optimización del manejo de datos.</p>
              </ion-label>
            </ion-item>

            <!-- Herramientas para Desarrollo -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/ionic-icon.png"
                  alt="Ionic Lab Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Herramientas para Desarrollo</b></h2>
                <p>Ionic Lab: Herramienta de vista previa para múltiples plataformas.</p>
                <p>Comandos predefinidos para iniciar, construir y testear el proyecto.</p>
              </ion-label>
            </ion-item>

          </li>
        </ul>


      </ion-card-content>
    </ion-card>

    <ion-card class="functions-details">
      <ion-card-header class="ion-no-padding">
        <!-- <ion-card-subtitle style="font-size: 14px; color: black;"><b>Detalles del Template</b></ion-card-subtitle> -->
        <ion-item>
          <ion-icon name="information-circle-sharp" color="success" slot="start"></ion-icon>
          <ion-label><b>Lógica de la Aplicación</b></ion-label>
          <hr>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        <!-- Awesome content -->


        <ul style="color: black;" class="mt-3">
          <li>
            <b>Descripción Breve</b>
            <p>En esta sección se detalla la estructura interna de la aplicación, incluyendo los servicios, helpers,
              guards y pipes que permiten gestionar la lógica de negocio, proteger las rutas, y optimizar la
              presentación de datos. Estos elementos son fundamentales para el funcionamiento eficiente y seguro de la
              app.</p>
          </li>

          <li class="mt-3">
            <b>Estructura del Proyecto</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/5386/5386001.png" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Modular Componentizada</b></h2>
                <p>El proyecto sigue una arquitectura modular y componentizada, lo que permite una mejor organización del código, mayor mantenibilidad y reutilización de componentes. La aplicación está estructurada en módulos independientes, cada uno con su propia funcionalidad y componentes reutilizables.</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/5386/5386001.png" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Estructura de Folders</b></h2>
                <div class="project-structure">
                  <ul>
                    <li>src/
                      <ul>
                        <li>app/
                          <ul>
                            <li>core/
                              <ul>
                                <li>services/ <!-- Servicios globales (API, manejo de autenticación, etc.) --></li>
                                <li>guards/ <!-- Guards de rutas --></li>
                                <li>interceptors/ <!-- Interceptores de HTTP --></li>
                                <li>helpers/ <!-- Funciones utilitarias globales --></li>
                                <li>constants/ <!-- Constantes globales --></li>
                                <li>enums/ <!-- Enumeraciones globales --></li>
                              </ul>
                            </li>
                            <li>shared/
                              <ul>
                                <li>components/ <!-- Componentes compartidos (modales, botones, etc.) --></li>
                                <li>directives/ <!-- Directivas personalizadas --></li>
                                <li>pipes/ <!-- Pipes reutilizables --></li>
                                <li>interfaces/ <!-- Interfaces TypeScript compartidas --></li>
                                <li>validators/ <!-- Validadores personalizados --></li>
                              </ul>
                            </li>
                            <li>features/
                              <ul>
                                <li>feature1/
                                  <ul>
                                    <li>pages/ <!-- Páginas específicas del módulo --></li>
                                    <li>components/ <!-- Componentes específicos del módulo --></li>
                                    <li>services/ <!-- Servicios específicos del módulo --></li>
                                  </ul>
                                </li>
                                <li>feature2/
                                  <ul>
                                    <li>pages/</li>
                                    <li>components/</li>
                                    <li>services/</li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li>app-routing.module.ts <!-- Configuración de rutas principal --></li>
                        <li>app.module.ts <!-- Módulo principal de la aplicación --></li>
                        <li>app.component.ts <!-- Componente raíz --></li>
                      </ul>
                    </li>
                    <li>assets/
                      <ul>
                        <li>images/ <!-- Imágenes estáticas --></li>
                        <li>icons/ <!-- Íconos de la aplicación --></li>
                        <li>locales/ <!-- Archivos de internacionalización (i18n) --></li>
                      </ul>
                    </li>
                    <li>environments/
                      <ul>
                        <li>environment.ts <!-- Configuración para desarrollo --></li>
                        <li>environment.prod.ts <!-- Configuración para producción --></li>
                      </ul>
                    </li>
                    <li>theme/
                      <ul>
                        <li>variables.scss <!-- Variables globales de estilo --></li>
                        <li>global.scss <!-- Estilos globales --></li>
                      </ul>
                    </li>
                    <li>index.html <!-- Archivo HTML raíz --></li>
                    <li>main.ts <!-- Punto de entrada de la aplicación --></li>
                    <li>polyfills.ts <!-- Archivos de polyfills --></li>
                    <li>test.ts <!-- Configuración de pruebas --></li>
                  </ul>
                </div>
                
              </ion-label>
            </ion-item>
          </li>

          <li class="mt-3">
            <b>Servicios</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn.worldvectorlogo.com/logos/google-admob.svg" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>AdmobService</b></h2>
                <p>El AdmobService es un servicio encargado de manejar la integración con Google AdMob utilizando el
                  plugin de la comunidad de Capacitor. Este servicio permite gestionar anuncios como banners,
                  intersticiales y recompensas dentro de la aplicación, con una configuración dinámica basada en
                  remoteConfig.</p>
              </ion-label>
            </ion-item>

            <!-- Soporte Multiplataforma -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.iconpacks.net/icons/free-icons-6/free-rest-api-blue-logo-icon-22098-thumb.png"
                  alt="Capacitor Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>API Service</b></h2>
                <p>El ApiService es un servicio genérico encargado de manejar las solicitudes HTTP hacia una API REST.
                  Este servicio facilita las operaciones básicas de CRUD (Create, Read, Update, Delete) y permite la
                  reutilización del código para interactuar con diferentes endpoints de la API.</p>
              </ion-label>
            </ion-item>

            <!-- Plugins Capacitor Integrados -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/1791/1791961.png" alt="Capacitor Plugins Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>AuthService</b></h2>
                <p>El AuthService es el servicio encargado de manejar la autenticación de usuarios en la aplicación. Se
                  encarga de realizar el inicio de sesión (login), gestionar el token de autenticación y verificar su
                  validez, utilizando ApiService para la comunicación con la API y StorageHelper para almacenar el token
                  de sesión de forma segura.</p>


              </ion-label>
            </ion-item>

            <!-- Integraciones Avanzadas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/93/93634.png" alt="Firebase Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>BackButtonService</b></h2>
                <p>El BackButtonService gestiona el comportamiento del botón de retroceso en la aplicación, asegurando
                  una navegación fluida y controlada. Este servicio permite cerrar modales abiertos, gestionar el
                  historial de navegación y manejar la salida de la aplicación de manera segura.</p>
              </ion-label>
            </ion-item>

            <!-- Optimización y Animaciones -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.transparentpng.com/thumb/browsers/uEski3-browsers-transparent.png"
                  alt="Swiper Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>AppInBrowserService</b></h2>
                <p>El AppInBrowserService permite abrir y cerrar enlaces externos dentro de un navegador in-app
                  utilizando el plugin capacitor/browser. Esto mejora la experiencia del usuario al proporcionar una
                  navegación fluida sin salir de la aplicación.</p>
              </ion-label>
            </ion-item>

            <!-- Calidad del Código -->
            <ion-item>
              <ion-avatar slot="start">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1024px-Typescript_logo_2020.svg.png"
                  alt="ESLint Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>CommunicationService</b></h2>
                <p>El CommunicationService es un servicio que permite la comunicación entre componentes mediante un
                  Subject de RxJS. Esto facilita la transferencia de datos sin necesidad de una relación padre-hijo
                  directa, mejorando la modularidad de la aplicación.</p>
              </ion-label>
            </ion-item>

            <!-- Desempeño y Rendimiento -->
            <ion-item>
              <ion-avatar slot="start">
                <img
                  src="https://cdn.iconscout.com/icon/free/png-256/free-firebase-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-company-brand-vol-3-pack-logos-icons-2944871.png?f=webp"
                  alt="RxJS Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>Firebase</b></h2>
                <p>Se utilizan diferentes módulos de Firebase para manejar autenticación, almacenamiento, base de datos
                  en tiempo real entre otros</p>

                <ul>
                  <li>
                    <p><b>FirebaseAnalyticsService</b>: permite realizar un seguimiento de la actividad de los usuarios en la aplicación mediante Google Analytics para Firebase. </p>
                  </li>

                  <li>
                    <p><b>FirebaseDatabaseService</b>: es el servicio encargado de interactuar con Firebase Realtime Database, permitiendo realizar operaciones CRUD (Crear, Leer, Actualizar y Eliminar) de manera eficiente. Este servicio facilita la gestión de datos en tiempo real dentro de la aplicación.</p>

                  </li>

                  <li>
                    <p><b>FirebaseRemoteConfigService</b>: permite la configuración dinámica de la aplicación sin necesidad de lanzar actualizaciones en la tienda. Mediante Firebase Remote Config, la aplicación puede obtener valores en la nube y aplicarlos en tiempo real, optimizando la experiencia del usuario y permitiendo cambios instantáneos en la configuración.
                      usuario.</p>

                  </li>

                  <li>
                    <p><b>FirebaseStorageService</b> permite la gestión de archivos en Firebase Storage, permitiendo a la aplicación subir, eliminar y listar archivos almacenados en la nube. Este servicio facilita el almacenamiento de imágenes, documentos y otros recursos de manera eficiente y segura.</p>

                  </li>

                  <li>
                    <p><b>FirebaseAppService</b> es responsable de inicializar la aplicación de Firebase en la app, asegurando que todos los servicios de Firebase (como Firestore, Auth, Storage, Remote Config, y Analytics) estén correctamente configurados antes de ser utilizados.</p>

                  </li>


                </ul>

              </ion-label>
            </ion-item>
          </li>

          <li class="mt-3">
            <b>Guards</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/8631/8631487.png" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>AppMaintenanceGuard</b></h2>
                <p>es un guard de rutas que restringe el acceso a la aplicación cuando está en modo mantenimiento. Si la variable APP_MAINTENANCE en el environment está activada, el usuario será redirigido a una página de mantenimiento en lugar de acceder a la app.</p>
              </ion-label>
            </ion-item>

            <!-- Soporte Multiplataforma -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/8631/8631487.png"
                  alt="Capacitor Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>ForceUpgradeGuard</b></h2>
                <p>se encarga de verificar si la versión actual de la aplicación es inferior a la versión mínima permitida definida en remoteConfig.FEATURE_FLAGS.FORCE_UPDATE.active. Si la versión de la app está desactualizada, bloquea el acceso y muestra una alerta para forzar la actualización.</p>
              </ion-label>
            </ion-item>

            <!-- Plugins Capacitor Integrados -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/8631/8631487.png" alt="Capacitor Plugins Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>InternetConnectionGuard</b></h2>
                <p>se encarga de verificar si el dispositivo tiene conexión a Internet antes de permitir el acceso a ciertas rutas de la aplicación. Si no hay conexión, redirige al usuario a una pantalla específica (RoutesApp.NO_INTERNET) para informarle sobre la falta de conectividad.</p>
              </ion-label>
            </ion-item>

            <!-- Integraciones Avanzadas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/8631/8631487.png" alt="Firebase Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>OnboardingGuard</b></h2>
                <p>erifica si el usuario ha completado el onboarding antes de permitirle acceder a ciertas rutas de la aplicación. Si el usuario no ha finalizado el proceso de bienvenida, será redirigido a la pantalla correspondiente.</p>
              </ion-label>
            </ion-item>
          </li>

          <li class="mt-3">
            <b>Helpers</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.flaticon.com/512/9243/9243401.png" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>EncryptionHelper</b></h2>
                <p>es un helper que proporciona métodos para encriptar y desencriptar texto usando AES (Advanced Encryption Standard) a través de la librería CryptoJS. Este helper es útil para proteger información sensible en la aplicación, como tokens, contraseñas o datos de usuario.</p>
              </ion-label>
            </ion-item>

            <!-- Soporte Multiplataforma -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://developer.android.com/static/images/design/ui/mobile/system-bars-status-bar-light-dark-theme.png"
                  alt="Capacitor Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>StatusBarHelper</b></h2>
                <p>es un helper que proporciona métodos para almacenar, recuperar y eliminar datos de forma segura en el almacenamiento local del dispositivo utilizando Capacitor Preferences. Además, emplea cifrado AES con EncryptionHelper para proteger la información almacenada.</p>
              </ion-label>
            </ion-item>

            <!-- Plugins Capacitor Integrados -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://png.pngtree.com/png-vector/20220625/ourmid/pngtree-cloud-secure-storage-icon-png-image_5344106.png" alt="Capacitor Plugins Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>StorageHelper</b></h2>
                <p>es un helper que proporciona métodos para almacenar, recuperar y eliminar datos de forma segura en el almacenamiento local del dispositivo utilizando Capacitor Preferences. Además, emplea cifrado AES con EncryptionHelper para proteger la información almacenada.</p>
              </ion-label>
            </ion-item>
          </li>

          <li class="mt-3">
            <b>Interceptores</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://cdn-icons-png.freepik.com/512/6321/6321393.png" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>HttpInterceptor</b></h2>
                <p>es un interceptor de HTTP que se encarga de:
                  ✔ Agregar automáticamente el token de autenticación a cada solicitud HTTP.
                  ✔ Manejar errores de autenticación (401 Unauthorized), permitiendo acciones como el cierre de sesión o la obtención de un nuevo token.</p>
              </ion-label>
            </ion-item>
          </li>

          <li class="mt-3">
            <b>Pipes</b>
            <!-- Tecnologías Modernas -->
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.svgrepo.com/show/373904/ng-pipe-ts.svg" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>ImageLoaderPipe</b></h2>
                <p>El ImageLoaderPipe es un pipe personalizado que se encarga de procesar URLs de imágenes para determinar si son externas o internas.
                  ✔ Si la imagen es externa (tiene http:// o https://), la devuelve sin cambios.
                  ✔ Si la imagen es interna (sin URL completa), la busca en la carpeta assets/img/.
                  
                  Este pipe es útil para manejar imágenes en la aplicación sin necesidad de verificar manualmente la ruta en cada componente.</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.svgrepo.com/show/373904/ng-pipe-ts.svg" alt="Angular Logo" />
              </ion-avatar>
              <ion-label>
                <h2><b>SafeHtmlPipe</b></h2>
                <p>es un pipe personalizado que permite sanitizar contenido antes de renderizarlo en la aplicación. Utiliza el servicio DomSanitizer de Angular para evitar que el navegador bloquee contenido considerado inseguro como HTML dinámico, estilos en línea, scripts y URLs.</p>
              </ion-label>
            </ion-item>
            
          </li>
        </ul>


      </ion-card-content>
    </ion-card>

    <ion-card class="author-details">
      <ion-card-header class="ion-no-padding">
        <ion-item>
          <ion-icon name="information-circle-sharp" color="dark" slot="start"></ion-icon>
          <ion-label><b>Detalles del Autor</b></ion-label>
          <hr>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        <div class="author-details">
          <p style="color: black;">
            El proyecto fue desarrollado por <strong>Josue Alexander Cayetano</strong>, un apasionado 
            <strong>ingeniero en ciencias computacionales y desarrollador de software</strong> 
            con experiencia en la creación de aplicaciones robustas utilizando 
            <strong>Angular</strong>, <strong>Ionic</strong>, <strong>Firebase</strong> y tecnologías modernas. 
            Especializado en arquitectura modular, aplicaciones multiplataforma y optimización de rendimiento.
          </p>
          <br>
          <h3><b>Habilidades destacadas:</b></h3>
          <ul style="color: black;">
            <li>Desarrollo de aplicaciones móviles y web.</li>
            <li>Integración con APIs y servicios en la nube.</li>
            <li>Arquitectura de proyectos escalables.</li>
            <li>Uso de frameworks modernos como Angular e Ionic.</li>
          </ul>
          <h3><b>Contacto:</b></h3>
          <ul>
            <li>
              <strong>GitHub: </strong> 
              <a href="https://github.com/cayetano1999" target="_blank">github.com/cayetano1999</a>
            </li>
            <li>
              <strong>Correo Electrónico: </strong> 
              <a href="mailto:tu-correo@example.com">josuecayetano&#64;hotmail.com</a>
            </li>
            <li>
              <strong>LinkedIn: </strong> 
              <a href="https://www.linkedin.com/in/josuecayetano/" target="_blank">linkedin.com/in/josuecayetano</a>
            </li>
          </ul>
        </div>
        
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>2025 v1.0.0</ion-title>
  </ion-toolbar>
</ion-footer>