:root {
	--ion-color-primary: #309A41;
	--ion-color-primary-rgb: 48,154,65;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #2a8839;
	--ion-color-primary-tint: #45a454;

	--ion-color-secondary: #30659A;
	--ion-color-secondary-rgb: 48,101,154;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2a5988;
	--ion-color-secondary-tint: #4574a4;

	--ion-color-tertiary: #65309A;
	--ion-color-tertiary-rgb: 101,48,154;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #592a88;
	--ion-color-tertiary-tint: #7445a4;

	--ion-color-success: #309A41;
	--ion-color-success-rgb: 48,154,65;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #2a8839;
	--ion-color-success-tint: #45a454;

	--ion-color-warning: #9A9A30;
	--ion-color-warning-rgb: 154,154,48;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #88882a;
	--ion-color-warning-tint: #a4a445;

	--ion-color-danger: #9A3030;
	--ion-color-danger-rgb: 154,48,48;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #882a2a;
	--ion-color-danger-tint: #a44545;

	--ion-color-light: #F3FBF4;
	--ion-color-light-rgb: 243,251,244;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d6ddd7;
	--ion-color-light-tint: #f4fbf5;

	--ion-color-medium: #226C2E;
	--ion-color-medium-rgb: 34,108,46;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #1e5f28;
	--ion-color-medium-tint: #387b43;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;


	//PRIME NG
	--p-knob-transition-duration: #a48787!important;
	--p-knob-focus-ring-width: #000000!important;
	--p-knob-focus-ring-style: #000000!important;
	--p-knob-focus-ring-color: #000000!important;
	--p-knob-focus-ring-offset: #000000!important;
	--p-knob-focus-ring-shadow: #000000!important;
	--p-knob-value-background: #171515!important;
	--p-knob-range-background: #642121!important;
	--p-knob-text-color: #887a7a!important;
}