<div class="custom-modal" [ngClass]="getShadow()">


  <ion-grid fixed>
    <ion-row>

  
      <ion-col size="12" class="center-content">
        <div class="">
          <img  src="../../../../assets/img/i.png" class="animated-image logo-i-size" alt="">
        </div>
      </ion-col>
      <ion-col size="12" class="center-content">
        <p class="aptops title" style="text-align: center;"><b>Cargando</b></p>
      </ion-col>

      <ion-col size="12" class="center-content" style="margin-top: -20px;">
        <p class="subtitle text-center">Por favor, espere</p>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>